# Environment files
.env
.env.*
*.env
btpd.sh

# Binary files
*.exe
*.out
bin/

# OS files
.DS_Store

# Go specific
/vendor/
go.sum

# IDE specific
.idea/
.vscode/

# Logs
*.log

# Build output
/build/
/dist/

# Test files
*.test 